<app-conteudo>
    <div class="titulo-principal">Cadastro de Bebida</div>
    <div class="titulo-card">Cadastro de Bebida</div>
    <div class="conteudo">
        <form (ngSubmit)="salvar()">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <label>Descrição</label>
                    <input type="text" style="width: 100%" [(ngModel)]="bebida.descricao" name="descricao" />
                </div>
                <div class="col-xl-4 col-lg-4">
                    <label>Tamanho</label>
                    <input type="text" style="width: 100%" [(ngModel)]="bebida.tamanho" name="tamanho" />
                </div>
                <hr />
            </div>
            <br />
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</app-conteudo>