<app-conteudo>
  <div class="titulo-principal">Pedido de Pizza</div>
  <div class="titulo-card">Registre aqui seu pedido!</div>
  <div class="conteudo">
    <div class="col-xl-4 col-lg-4">
      <img src="assets/img/pizza.jpg" style="width: auto; height: auto;;   max-width: 100%;  max-height: 100%;"/>
    </div>
    <div class="col-xl-8 col-lg-8">
      <p></p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat malesuada enim, in dignissim felis convallis eu. Cras non nisl mauris. Vivamus varius dolor eget mollis varius. Morbi nec massa dolor. Sed pellentesque pulvinar nunc sollicitudin imperdiet. In semper dapibus dui, eu tempor urna ullamcorper quis. Nam consectetur dignissim libero gravida blandit. Pellentesque auctor a urna sed tempus. Phasellus dignissim, orci id aliquet vulputate, sem nulla finibus odio, nec ultrices diam massa eu tellus. Aliquam ut tincidunt ipsum, vitae molestie eros.
      </p>

      <p>
        Quisque dapibus convallis porttitor. Vivamus eu pharetra mi. Aenean nec dui et est scelerisque varius fermentum sed sem. Curabitur faucibus convallis lacinia. Cras dictum est vitae felis gravida auctor. Praesent eget ante elit. Nunc lacinia tristique nunc quis porttitor. Maecenas dapibus lacinia eleifend. Curabitur est erat, ornare imperdiet nibh quis, laoreet auctor eros. Sed mattis leo ipsum. Aliquam tempus enim sed ipsum feugiat pulvinar. Fusce tempus nulla sed lacus dapibus, sed sodales libero lacinia. Curabitur condimentum magna quis lacus sollicitudin elementum. Nam dignissim eros nec leo placerat, quis dictum nisi cursus. Nullam molestie tincidunt elit, sed molestie leo tincidunt non. Aenean ullamcorper laoreet cursus.
      </p>
    </div>
  </div>
</app-conteudo>