<app-conteudo>
  <div class="titulo-principal">Cadastro de Sabores</div>
  <div class="titulo-card">Cadastro de Sabor</div>
  <div class="conteudo">
    <form>
      <div class="row">
        <div class="col-lg-4 col-xl-4">
          <label>Descrição do Sabor:</label>
          <input type="text" style="100%"/>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <button class="btn btn-success">Salvar</button>
        </div>
      </div>

    </form>

  </div>
</app-conteudo>